---
import Layout from '../layouts/Layout.astro'
import { Header } from '../components/header'
import { HeroSection } from '../components/hero-section'
---

<Layout>
  <Header client:load />
  <main class="min-h-screen">
    <HeroSection client:load />
  </main>
</Layout>
