---
import BaseLayout from '~/layouts/base-layout.astro'
import { Header } from '~/widgets/header/ui/header'
import { HeroSection } from '~/widgets/hero/ui/hero-section'
---

<BaseLayout>
  <Header client:load />
  <main class="min-h-screen">
    <HeroSection client:load />
  </main>
</BaseLayout>
